{% load static %}
{% load cloudinary %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
    crossorigin="anonymous"></script>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Portugal Construcoes</title>
</head>

<body id="home" class="scrollspy">
  <!-- Navbar -->
  <div class="navbar-fixed">
    <nav class="grey darken-2">
      <div class="container">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo"> <img src="{% static 'img/PORTUGAT.png'%}"></a>
          <a href="#" data-target="mobile-nav" class="sidenav-trigger">
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="#home">Home</a>
            </li>
            <li>
              <a href="#search">Quem Somos</a>
            </li>
            <li>
              <a href="#popular">Portfólio</a>
            </li>
            <li>
              <a href="#gallery">Orçamentos</a>
            </li>
            <li>
              <a href="#contact">Contato</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <ul class="sidenav" id="mobile-nav">
    <li>
      <a href="#home">Home</a>
    </li>
    <li>
      <a href="#search">Quem Somos</a>
    </li>
    <li>
      <a href="#popular">Portfólio</a>
    </li>
    <li>
      <a href="#gallery">Orçamentos</a>
    </li>
    <li>
      <a href="#contact">Contato</a>
    </li>
  </ul>

  <!-- Section: Slider -->
  <section class="slider">
    <ul class="slides">
      <li>

        <img src="{% static 'img/cons1.jpeg'%}">
        <!-- random image -->
        <div class="caption center-align">
          <h2>Portuga Construções</h2>
          <h5 class="light grey-text text-lighten-3 hide-on-small-only">A experência Europeia Bem Perto de você</h5>
        </div>
      </li>
      <li>
        <img src="{% static 'img/const2.jpg'%}">
        <!-- random image -->
        <div class="caption left-align">
          <h2>Sua Obra</h2>
          <h5 class="light grey-text text-lighten-3 hide-on-small-only">Em boas mãos! </h5>
        </div>
      </li>
      <li>
        <img src="{% static 'img/const3.png'}">
        <!-- random image -->
        <div class="caption right-align">
          <h2>Venha nos visitar</h2>
          <h5 class="light grey-text text-lighten-3 hide-on-small-only">Temos as melhores ofertas para sua obra</h5>
        </div>
      </li>
      <li>
        <img src="{% static 'img/const4.jpg'}">
        <!-- random image -->
        <div class="caption right-align">
          <h2></h2>
          <h5 class="light grey-text text-lighten-3 hide-on-small-only"></h5>
        </div>
      </li>
    </ul>
  </section>

  <!-- Section: Search -->
  <section id="search" class="section section-search  grey lighten-1 black-text center scrollspy">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h3>Quem somos </h3>
          <div class="input-field">
            <p align="justify">Somos uma Construtora com raízes europeias, onde trouxemos para Garanhuns e região a excelência na construção  e reformas de obras bem como em todos os nossos projetos.
Atuamos desde 2016 no mercado da Construção civil onde incorporamos os padrões Europeus de qualidade e requinte. 

A Construtora Portuga conta com um “portfólio” de obras que têm como principal marca a qualidade eficiência e segurança. Em toda sua trajetória , e principalmente, no momento atual, a nós da Construtora Portuga nos mostramos consciente de nossas responsabilidades, tendo a nossa visão em futuro excelente a lidado a tecnologia. Com isso teremos oportunidade de trabalho e aperfeiçoamento dos nossos serviços.
</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: Icon Boxes -->
  

  <!-- Section: Popular Places -->
  <section id="popular" class="section section-popular scrollspy">
    <div class="container">
      <div class="row">
        <h4 class="center">
          <span class="red-text">Nossos</span> Serviços</h4>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img class="responsive-img" src="{% static 'img/casa.jpg'%}" alt="">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              Construção de Casas
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img  class="responsive-img"src="{% static 'img/edficio.jpg'%}" alt="">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              Construção de Prédios
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img class="responsive-img" src="{% static 'img/reformas.jpg'%}" alt="">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              Reformas de Casa!
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- medai social-->
  <section class="section section-follow grey darken-2 white-text center">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h4>Siga a Construtora Portuga </h4>
          <p>Siganos nas redes sociais e descubra que temos para sua obra !</p>
          <a href="#" class="white-text">
            <i class="fab fa-facebook fa-4x"></i>
          </a>
          <a href="#" class="white-text">
            <i class="fab fa-twitter fa-4x"></i>
          </a>
          <a href="#" class="white-text">
            <i class="fab fa-linkedin fa-4x"></i>
          </a>
          <a href="#" class="white-text">
            <i class="fab fa-google-plus fa-4x"></i>
          </a>
          <a href="#" class="white-text">
            <i class="fab fa-pinterest fa-4x"></i>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- video da empresa -->
  <section id="gallery" class="section section-gallery scrollspy">
    <div class="container">
      <h4 class="center">
        <span class="red-text">Construtora Portuga</span> Vídeo 
      </h4>
      <div class="row">
       <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ySDEGGJ8AXg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      </div>

      
  </section>

  <!-- contato -->
  <section id="contact" class="section section-contact scrollspy">
    <div class="container">
      <div class="row">
        <div class="col s12 m6">
          <div class="card-panel  red darken-4 white-text center">
            <i class="material-icons">email</i>
            <h5>Contato</h5>
            <p> Nós que fazemos Construtora Portuga teremos a maior satisfação em lhe ouvir .Sua opinião é muito importante para nós</p>
          </div>
          <ul class="collection with-header">
            <li class="collection-header">
              <h4>Localização</h4>
            </li>
            <li class="collection-item">Garanhuns </li>
            <li class="collection-item">555 Centro Rua,  33</li>
            <li class="collection-item">Pernambuco,  55555</li>
          </ul>
        </div>
        <div class="col s12 m6">
          <div class="card-panel grey lighten-3">
            <h5>Por Favor Preencha o formuário</h5>
            <div class="input-field">
              <input type="text" placeholder="Nome">
            </div>
            <div class="input-field">
              <input type="text" placeholder="Email">
            </div>
            <div class="input-field">
              <input type="text" placeholder="Fone">
            </div>
            <div class="input-field">
              <textarea class="materialize-textarea" placeholder="Messagem"></textarea>
            </div>
            <input type="submit" value="Enviar" class="btn">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="section grey darken-2 white-text center">
    <p class="flow-text">www.construtoraportugal.com.br &copy; </p>
  </footer>

  <!--JavaScript at end of body for optimized loading-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

  <script>
    // Sidenav
    const sideNav = document.querySelector('.sidenav');
    M.Sidenav.init(sideNav, {});

    // Slider
    const slider = document.querySelector('.slider');
    M.Slider.init(slider, {
      indicators: false,
      height: 500,
      transition: 500,
      interval: 6000
    });

    // Autocomplete
    const ac = document.querySelector('.autocomplete');
    M.Autocomplete.init(ac, {
      data: {
        "Aruba": null,
        "Cancun Mexico": null,
        "Hawaii": null,
        "Florida": null,
        "California": null,
        "Jamacia": null,
        "Europe": null,
      }
    });

    // Material Boxed
    const mb = document.querySelectorAll('.materialboxed');
    M.Materialbox.init(mb, {});

    // ScrollSpy
    const ss = document.querySelectorAll('.scrollspy');
    M.ScrollSpy.init(ss, {});

  </script>
</body>

</html>